.App-principal{
    width: 100vw;
    height: 100vh;
    background: red;
    flex-wrap: wrap;
}

.App-header{
    width: 100vw;
    background-color: aqua;
}

.cadastroContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 100px;
  background-color: rgb(145, 142, 142);
 
}

.homeContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 100px;
  background-color: rgb(138, 14, 14);
 
}

.publicacaoContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 100px;
  background-color: rgb(31, 29, 29);
 
}