body {
  width: 100%;
  height: 100%;
  overflow-x:hidden ;
  /* overflow-y: hidden; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    /* background:linear-gradient(320deg, #ffb790 0, #ffac91 10%, #f79f90 20%, #e4928c 30%, #cc8485 40%, #b0747b 50%, #94656f 60%, #7c5963 70%, #684f59 80%, #58464f 90%, #4c4048 100%); */

  
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


.nav-bar{
  position:fixed;
  top: 0;
  margin-bottom: 30px;
}

/* @media screen and (max-width:900px) {
  body{
      flex-direction: column;
      background-color: brown;
  }
} */

